.section4 {
    background-color: #8BC441;
    width: auto;
    height: 440px;
    overflow: auto;
}


.section4 > div { 
    display: inline-block;
}

.bicycle_dog {
    
    /* margin: 89px 165px 90px 185px; */
}

.title_section4 {
    
    width: 516px;
    height: 128px;
    /* margin: 50px 339px 57px 165px; */
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 64px;
}

.div1 {
    width: 239px;
    height: 81px;
    /* margin: 57px 132px 86px 165px;  */
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.div2 {
    width: 210px;
    height: 81px;
    /* margin: 57px 132px 86px 165px;  */
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}