.section3 { 
    background-color: #F4F6F0;
    width: auto;
    height: 601px;
}

.section3 > div { 
    display: inline-block;
    margin: 78px 100px 134px 100px ;
}


.text_section3 {
padding-left: -20px;
}

.who_we_are { 
    color: #60C1BD;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}

.our_mission { 
    color: #284854;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 64px;
}

.section3_text { 
    width: 504px;
    height: 162px;
    color: #284854;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    
}

.why_button { 
    width: 140px;
    height: 33px;
    border: 1px solid #60C1BD;
    color: #60C1BD;
    text-align: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 5px;
    margin-top: 58px;
    margin-left: 100px;
}