.section4 {
    background-color: #8BC441;
    width: auto;
    height: 440px;
    overflow: auto;
}


.section4 > div { 
    
}

.bicycle_dog {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: -900px;
}

.section4_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title_section4 {
    
    display: flex;
    align-self:center;
    margin-left: 370px;
    margin-top: -260px;

    width: 516px;
    height: 128px;
    /* margin: 50px 339px 57px 165px; */
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 64px;
}

.two_block_section3 {
    display: flex;
    align-self: center;
    margin-left: 400px;
    margin-top: 10px;
    padding: 15px;

    color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.div1 {
    width: 239px;
    height: 81px;
    margin-right: 100px;
}

.div2 {
    width: 210px;
    height: 81px;
}

